{% extends 'base.html' %}


{% block title %}
<title> This is About us page</title>
{% endblock title %}



{% block content %}
    <div class="container">
        <h1>{{contact_text}}</h1>
        <h1>I am  Ramajayam Chartered accountant In Practice  Techno- functional Consultant my interest are in the areas of MIS and Business Intelligence with a strong knowledge in the areas of Business Inteligence, Data Analytics, Business Process, Taxation, IS Audits, Financial Audits, BPR , GST, Virtualization, Automations  and  MIS.</h1>
    </div>
{% endblock content %}